:root {
  --dark: #272838;
  --dark-pale: #4a4b54;
  --light: #f6eedf;
  --light-pale: #e7dbc1;
  --white: #f5f6ff;
  --grey: #bcbdc5;
  --mid: #004e81;
  --highlight: #EFA00B;
  --highlight-lighter: #ffb52c;
  --delete: #fe2727;
  --delete-hover: #b10000;
  --prominent: #009133;
  --prominent-bright: #82ae2a;
}

body {
  background-color: var(--light);
  color: var(--dark);
  text-align: center;
  font-size: 1.2em;
  font-family:"Lato";
}

.main {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-heading{
  color:var(--dark);
  font: bold;
  font-size: 1.5rem;
  padding: 10px 10px;
}

button {
  background-color: var(--dark);
  border: none;
  color: var(--white);
  border-radius: 8px;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  margin: 8px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  
}

button:disabled {
  background-color: var(--dark-pale);
  color: var(--white);
}
button:disabled:hover {
  background-color: var(--dark-pale);
  color: var(--white);
}
.start-quiz {
  background-color: var(--prominent);
  color: var(--white);
}

.start-quiz:hover {
  background-color: var(--prominent-bright);
}

button:hover {
  background-color: var(--mid);
  color: var(--light);
}

.back-button {
  display: flex;
  justify-content: flex-end;
  align-content:end;
  font-size: 1.3em;
}

.add-button {
  padding: 5px 10px;
  font-size: 1em;
}

.deletion-pop-up{
    position: fixed;
    background-color: var(--light);
    outline-style: solid;
    outline-color: var(--mid);
    border-radius: 8px;
    left: 35%;
    top: 25%;
    width: 30%;

    @media (width < 680px){
    left: 30%;
    top: 25%;
    width: 50%;
    }
}

.delete-button {
  background-color: var(--highlight);
  font-size: 1em;
  padding: 5px 5px 5px 5px;
  margin: 5px;
}

.final-delete-button {
  font-size: 1.3em;
  margin: 8px;
  background-color: var(--delete);
}

.final-delete-button-small {
  font-size: 0.6em;
  padding: 10px 15px;
  margin: 8px;
  background-color: var(--delete);
}

.final-delete-button:hover {
  background-color: var(--delete-hover);
}
.delete-button:hover {
  background-color: var(--delete);
}

.final-delete-button-small:hover {
  background-color: var(--delete-hover);
}

.topnav {
  display: flex;
  justify-content:space-between;
  background-color: var(--dark);
  overflow: hidden;
  align-items: center;
  @media (width < 720px){
    max-height: 20%;
  }
}

.title {
  display: flex;
  align-self: center;
  font-weight: 400;
  font-size: 1.5em;
  font-family: "Lato";
  color: var(--highlight);
  margin: 10px;
}
.topnav a:hover {
  background-color: var(--dark-pale);
  color: var(--highlight);
}

.topnav a.active {
  background-color: var(--mid);
  color: #92828D;
}

.outside-link {
  font: bold;
  font-size: 1.3em;
  text-decoration: underline;
  text-decoration-color: var(--dark);
  padding: 10px 10px;
}

.outside-link:hover {
  color: var(--highlight);
}

.outside-link:visited {
  color: var(--dark);
}

.resources {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 100;
}


.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 60%;
}

.link {
  color:var(--white);
  font:200;
  font-size: 1.3em;
  text-decoration: underline;
  text-decoration-color: var(--dark);
  background-color: var(--dark);
  padding: 8px 8px;

  @media (width < 720px){
    font-size: 1em;
    padding: 2px 2px;
  }
}

.link:hover {
	color: var(--highlight);
}

.link:visited {
	color: var(--light);
}

.button-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

img {
  display: flex;
  align-self: center;
}

.quiz {
  display: flex;
	flex-direction: column;
  max-width: 960px;
	width: 100%;
	margin: 10px 0 100px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
	margin: 10px 0 100px;
  justify-content: center;
}
.quiz-control {
  display: flex;
  flex-direction: row;
	margin: 10px 0 100px;
  justify-content: center;
}

.grade-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.word {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mnemonic-image {
  display: flex;
  max-width: 30%;
  max-height: 40%;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: min(900px, 100% - 3rem);
  margin-inline: auto;
}

table {
  max-width: 900px;
  @media (width < 720px){
    font-size: 0.5em;
    max-width: 70px;
  }
}

td, th {
  min-width: 50px;
  max-width: 200px;
}

tr:nth-child(even) {
  background-color: var(--light-pale);
}

form {
  display: flex;
  gap: 0.5rem;
  font-family: "Lato";
  max-width: 100px;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (width < 720px){
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 1em;
}

text {
  font-size: 1rem;
  padding: 1em;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  color: rgb(34, 34, 34);
  text-align: center;
  padding: 10px;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

iframe {
  font-size: 1.2em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#b10000;
  background-color: #272838;
}

audio {
  width: 100px;
  border-radius: 2px;
  padding: 10px;
  background-color: #d47100;
}

.list-text {
  white-space: nowrap;
  max-width: max-content;
}
.image-cell {
  white-space: nowrap;
  overflow:hidden;
  max-width: 30px;
}
.soundfile-cell {
  max-width: 30px;
  white-space: nowrap;
  overflow:hidden;
}

.AddWordForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.addLanguage {
  color:  var(--highlight);
  background-color: var(--dark);
  font-size: 1em;
  padding: 5px 5px 5px 5px;
  margin: 5px;
}

.addLanguage:hover {
  color:  var(--highlight-lighter);
  background-color: var(--dark-pale);
  font-size: 1em;
  padding: 5px 5px 5px 5px;
  margin: 5px;
}

.add-language-label  {
  justify-content: left;
  flex-direction: row;
}

.buffer {
  width: 10%;
  height: 100%
}

.buffer:empty {
  /* background-color: var(--highlight-lighter); */
  visibility: hidden;
}

.page-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.center-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.language-submit {
  display: flex;
  color:  var(--white);
  background-color: var(--dark);
  font-size: 1em;
  padding: 5px 5px 5px 5px;
  margin: 5px;
}

.language-input {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.input-word-form {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.language-button-row {
  background-color:var(--light-pale);
  outline-style: solid;
  outline-color: var(--mid);
  padding: 5px 5px 5px 5px;
  margin: 10px;
  border-radius: 3px;
  display: flex;
  align-items: space-between;
  flex-direction: row;
}

.deck-options {
  color:var(--dark);
  background-color: var(--dar);
  border-radius: 5px;
  width: 70px;
  margin: 2px;

}

.form-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.reader-container {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px var(--dark);
  background-color: #4a4b54;
  color:var(--dark);
}