.drawer-container {
  position: relative;
  overflow: hidden; /* Hide overflow when drawer is closed */

}

.drawer {
  position: fixed;
  top: 0;
  left: -33%; /* Hidden by default, adjust width as needed */
  width: 33%; /* Drawer width */
  height: 100%;
  background-color: #f0f0f0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out; /* Smooth transition for opening/closing */
  z-index: 100; /* Ensure drawer is above other content */
  @media (width < 720px){
    left: -45%;
    width: 45%; 
    }
}

.drawer.open {
  left: 0; /* Visible when open */
  height: 100%; /* Set a fixed height for vertical scrolling */
  overflow: auto; /* Enables scrollbars only when content overflows */
  /* Or use: */
  /* overflow-y: scroll;  Forces vertical scrollbar */
  /* overflow-x: scroll;  Forces horizontal scrollbar */
  /* overflow: scroll;  Forces both scrollbars */
  border: 1px solid #ccc; /* Optional: adds a border for visual clarity */
  padding: 1px 1px; /* Optional: adds padding inside the div */
}

.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  z-index: 99; /* Below the drawer */
}

.drawer-toggle-button {
  /* Style your toggle button */
  padding: 2px;
  margin: 2px;
  cursor: pointer;
  font-size: 0.7em;
  position: fixed;
  top: 0;
  left: 2%; /* Hidden by default, adjust width as needed */
  width: 5%;
}

.drawer-content {
  padding: 0px;
}

.library-heading {

}

.drawer-list {
  padding: 2px;
  margin: 2px;
}

.drawer-list > li > button {
  color:rgba(0, 0, 0, 0.849);
  background-color: rgb(255, 253, 243);
  margin: 1px;
  font-size: 0.8em;
  border-radius: 1px 1px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
  padding: 5px 5px;
}

.drawer-list > li > button:hover {
  background-color: rgb(238, 234, 216);
}

.drawer-button {
  background-image: url('../public/bars-solid-full.svg');
  background-color: rgb(255, 253, 243);
  background-size: contain;
  background-repeat: no-repeat;
  height: 2.0em;


}

.drawer-button:hover  {
  top: 0;
  background-color: rgb(212, 212, 212);
  background-size: contain;
  background-repeat: no-repeat;
  height: 2.0em;
  flex-direction:column;
  justify-content:flex-start;
  align-items: flex-start;
}